/* .button-list {
  display: flex;

  justify-content: center;
  margin-top: 94px;
  margin-bottom: 34px;
}

.button-list .btn:not(:last-child) {
  margin-right: 8px;
} */

/* Container */

.gallery {
  display: flex;
  flex-wrap: wrap;

  padding: 0px;
  margin: 0px;
  list-style: none;

  margin-left: calc(-1 * var(--gallery-gap-magin));
  margin-top: calc(-1 * var(--gallery-gap-magin));

  /* outline: 2px solid tomato; */
}

.gallery > .gallery-item {
  flex-basis: calc(100% / 3 - var(--gallery-gap-magin));

  margin-left: var(--gallery-gap-magin);
  margin-top: var(--gallery-gap-magin);

  box-shadow: var(--card-shadow);
}
